* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

body {
    min-width: 320px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: "Caveat", cursive;
    color: var(--standart-text-color);
}

header {
    background-color: var(--header-and-footer-bg);
    height: 160px;
}

footer {
    background-color: var(--header-and-footer-bg);
    height: 80px;
}

main {
    background-color: var(--main-bg);
    min-height: calc(100vh - 240px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
}

.flex-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#note-input {
    background-color: var(--header-and-footer-bg);
    border: 0;
    min-width: 300px;
    height: 32px;
    padding: 8px;
    font-weight: 400;
    filter: var(--img-drop-shadow);
    margin-top: 4px;
    border-radius: 10px;
}

::placeholder {
    font-family: "Caveat", cursive;
    color: var(--standart-text-color);
}

.btn {
    background-color: var(--header-and-footer-bg);
    border: 0;
    height: 32px;
    min-width: fit-content;
    color: var(--standart-text-color);
    padding: 4px;
    margin-left: 8px;
    filter: var(--img-drop-shadow);
    border-radius: 10px;
}

.btn:hover {
    cursor: pointer;
    filter: var(--img-drop-shadow-hover);
}

h1 {
    -webkit-text-stroke: 1px rgba(62, 75, 192);
    text-shadow: 0px 0px 16px rgba(62, 75, 192);
}

#note-container {
    margin-top: 16px;
    display: flex;
    gap: 64px;
}

.note-and-trash-div {
    background-color: var(--header-and-footer-bg);
    border: 0;
    min-width: 400px;
    height: 520px;
    padding: 8px;
    font-weight: 400;
    filter: var(--img-drop-shadow);
    margin-top: 4px;
    border-radius: 10px;
}

.note-and-trash-div:hover {
    filter: var(--img-drop-shadow-hover);
}
